@font-face {
font-family: pixelated;
src: url(04B_30__.TTF);
}

button {
  font-family: pixelated;
}

#energy {
  font-size: 60px;
}

#mute {
font-size: 20px;
font-family: pixelated;
}

body {
  font-family: pixelated;
  cursor: url('../assets/cursor.png'), default;
}

#journalField {
  display: none;
}

#toDoField {
  display: none;
}

#journal {
  cursor: url('../assets/hand.png'), default;
}

.dragged {
  z-index: 101;
  cursor: url('../assets/cursor.png'), default;
}

.dragHover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index:100;
}

.cell
{
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 128px;
    height: 128px;
}
.cell img
{
  width: 35px;
    image-rendering: pixelated;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 128px;
    height: 128px;
}
img {
    image-rendering: pixelated;
    width: 128px;
    height: 128px;
}

.clock {
  image-rendering: pixelated;
  background:url(../assets/next_day.png) no-repeat;
  background-size: 128px 128px;
  background-position: center;
  width: 128px;
  height: 128px;
  color: black;
  padding: 50px 0px 0px 0px;
  cursor: url('../assets/hand.png'), default;
  border: none;
}
.lockedItem{
  display: none;
}
.section{
float: left;
border: 10px solid #FF6600;
background: #fff;
position: relative;
}
.section_content{
display: block;
padding: 10px;
overflow: hidden;
}
.corner{
width: 15px;
position: absolute;
z-index: 9;
}
.tl{
top: -10px;
left: -10px;
}
.tr{
top: -10px;
right: -10px;
}
.bl{
bottom: -10px;
left: -10px;
}
.br{
bottom: -10px;
right: -10px;
}
.corner .a{
width: 5px;
height: 10px;
float: left;
display: block;
background: #fff;
}
.corner .b{
width: 5px;
height: 5px;
float: left;
display: block;
background: #fff;
}
.corner .c{
width: 10px;
height: 10px;
float: left;
display: block;
background: #FF6600;
}
.tr .a, .tr .b,
.tr .c, .br .a,
.br .b, .br .c{
float: right;
}
.bl .a,
.br .a{
border-top: 5px solid #FF6600;
}
.leftside{
  padding-top: 15px;
  width: 10%;
  float: left;
}
.toolbar{
  height: auto;
  margin-left: 10%;
  margin-bottom: 10px;
  border-style: solid;
  background-color: red;
  width: 50%;
}
.toolbarItems{
  height: 60px;
  width: 60px;
}
