@font-face {
font-family: pixelated;
src: url(04B_30__.TTF);
}

button {
  font-family: pixelated;
}

#energy {
  font-size: 40px;
  width: 85%;
  float: right;
}

#mute {
font-size: 20px;
font-family: pixelated;
}

body {
  background-color: black;
  opacity: 1;
}
.extraspace{
  min-width: 100%;
  min-height: 40px;
}
.gameArea{
  padding-top: 20px;
  background-image: url(../assets/grass_tile.png);
  font-family: pixelated;
  cursor: url('../assets/cursor.png'), default;
  min-width: 1270px;
  border: 10px solid green;
}

#journalField {
  display: none;
  font-family: pixelated;
}

#toDoField {
  display: none;
  font-family: pixelated;
}

#journal {
  cursor: url('../assets/hand.png'), default;
}

.dragged {
  z-index: 101;
  cursor: url('../assets/cursor.png'), default;
}

.dragHover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index:100;
}
.gameboard{
  font-size: 0;
  border: 8px #696969;
  border-style: outset;
  width: 912px;  /*width and height must change as gameboard size changes */
  height: 523px;
  margin-bottom: 20px;
}
.cell
{
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 128px;
    height: 128px;
}

.cell img
{
  width: 35px;
    image-rendering: pixelated;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 128px;
    height: 128px;
}
img {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
}

.clock {
  image-rendering: pixelated;
  background:url(../assets/next_day.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
  width: 64px;
  height: 64px;
  color: black;
  padding: 50px 0px 0px 0px;
  cursor: url('../assets/hand.png'), default;
  border: none;
}
button:focus{
  outline: 0;
}
.lockedItem{
  display: none;
}
.betweenBtns{
  margin-right: 10px;
}
.section{
float: left;
border: 10px solid #FF6600;
background: #fff;
position: relative;
}
.section_content{
display: block;
padding: 10px;
overflow: hidden;
}
.corner{
width: 15px;
position: absolute;
z-index: 9;
}
.tl{
top: -10px;
left: -10px;
}
.tr{
top: -10px;
right: -10px;
}
.bl{
bottom: -10px;
left: -10px;
}
.br{
bottom: -10px;
right: -10px;
}
.corner .a{
width: 5px;
height: 10px;
float: left;
display: block;
background-image: url(../assets/grass_tile.png);
}
.corner .b{
width: 5px;
height: 5px;
float: left;
display: block;
background-image: url(../assets/grass_tile.png);

}
.corner .c{
width: 10px;
height: 10px;
float: left;
display: block;
background: #FF6600;
}
.tr .a, .tr .b,
.tr .c, .br .a,
.br .b, .br .c{
float: right;
}
.bl .a,
.br .a{
border-top: 5px solid #FF6600;
}
.leftside{
  padding-top: 15px;
  width: 12%;
  float: left;
}
.toolbar{
  height: auto;
  margin-right: 50px;
  margin-bottom: 10px;
  border-style: solid;
  background-color: #87CEEB;
  width: 60%;
}
.toolbarItems{
  height: 64px;
  width: 64px;
}
.wholeMenuArea{
  padding-left: 60px;
}
