@font-face {
font-family: pixelated;
src: url(PressStart2P.ttf);
}

button {
  font-family: pixelated;
}

#addJournal{
margin: 0px auto 0px auto;
}

#energy {
  font-size: 40px;
  width: 85%;
  float: right;
}

#mute {
font-size: 20px;
font-family: pixelated;
}

body {
  background-color: black;
  opacity: 1;
}

.gameArea{
  padding-top: 20px;
  background-image: url(../assets/Pixel_Block_Solid_Grass.png);
  font-family: pixelated;
  cursor: url('../assets/cursor.png'), default;
  min-width: 800px;
  margin: 0 auto;
  border: 10px solid green;
}

#journalField {
  display: none;
  font-family: pixelated;
  width: 750px;
}

#toDoField {
  display: none;
  font-family: pixelated;
  height: 300px;
}

#journal {
  cursor: url('../assets/hand.png'), default;
}

.dragged {
  z-index: 101;
  cursor: url('../assets/cursor.png'), default;
}

.toolbarItems:hover {
  animation: pulse 2s infinite;
  z-index: 100;
}

.dragHover img{
  animation: pulse 2s infinite;
  z-index: 100;
}

@keyframes pulse{
  0%{
background: rgba(255,255,255,.5);
  }

  50%{
background: rgba(255,255,255,.7);
  }
  100%{
background: rgba(255,255,255,.5);
  }
}

.gameboard{
  font-size: 0;
  border: 8px #696969;
  border-style: outset;
  width: 716px;  /*width and height must change as gameboard size changes */
  height: 416px;
  margin: 0 auto 20px auto;
}
.cell
{
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
}

.cell img
{
  width: 35px;
    image-rendering: pixelated;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
img {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
}

.clock {
  image-rendering: pixelated;
  background:url(../assets/next_day.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
  width: 64px;
  height: 64px;
  color: black;
  padding: 50px 0px 0px 0px;
  cursor: url('../assets/hand.png'), default;
  border: none;
}
button:focus{
  outline: 0;
}
.lockedItem{
  display: none;
}
.betweenBtns{
  margin-right: 10px;
}
.section{
float: left;
border: 10px solid #FF6600;
background: #fff;
position: relative;
}
.section_content{
display: block;
padding: 10px;
overflow: hidden;
}
.corner{
width: 15px;
position: absolute;
z-index: 9;
}
.tl{
top: -10px;
left: -10px;
}
.tr{
top: -10px;
right: -10px;
}
.bl{
bottom: -10px;
left: -10px;
}
.br{
bottom: -10px;
right: -10px;
}
.corner .a{
width: 5px;
height: 10px;
float: left;
display: block;
background-image: url(../assets/grass_tile.png);
}
.corner .b{
width: 5px;
height: 5px;
float: left;
display: block;
background-image: url(../assets/grass_tile.png);

}
.corner .c{
width: 10px;
height: 10px;
float: left;
display: block;
background: #FF6600;
}
.tr .a, .tr .b,
.tr .c, .br .a,
.br .b, .br .c{
float: right;
}
.bl .a,
.br .a{
border-top: 5px solid #FF6600;
}
.leftside{
  padding-top: 15px;
  width: 12%;
  float: left;
}
.toolbar{
  height: auto;
  margin-right: 50px;
  margin-bottom: 10px;
  border-style: solid;
  background-color: #87CEEB;
  width: 47%;
}
.toolbarItems{
  height: 64px;
  width: 64px;
}
.wholeMenuArea{
  padding-left: 60px;
}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}
